<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>481242816460-e2k2a5l3epo6dkivbe3h6na65cl49emg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.481242816460-e2k2a5l3epo6dkivbe3h6na65cl49emg</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>481242816460-qc8q8e21boheatjudopfn17jjjkka51g.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyASnTd8U2QueIjF6DeqaZcRoTSVFzA8kYs</string>
	<key>GCM_SENDER_ID</key>
	<string>481242816460</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.brainyapps.beverages</string>
	<key>PROJECT_ID</key>
	<string>beverges</string>
	<key>STORAGE_BUCKET</key>
	<string>beverges.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:481242816460:ios:b1254123a5e3aafd7c4769</string>
	<key>DATABASE_URL</key>
	<string>https://beverges.firebaseio.com</string>
</dict>
</plist>